@mixin sp {
  @media (max-width:(600px)) {
    @content;
  }
}

@mixin tab {
  @media (max-width:(780px)) {
    @content;
  }
}

@mixin pc {
  @media (max-width:(980px)) {
    @content;
  }
}


input {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

a {
  color: #000;
}

p {
  font-size: 15px;
  line-height: 24px;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: 16px;
}

.pc-block {
  display: block;

  @include tab {
    display: none;
  }
}

.sp-block {
  display: none;

  @include tab {
    display: block;
  }
}

.main {

  @include tab{
    margin: 58px 0 0;
  
  }
}

.pager-wrap {
  text-align: center;
  margin: 60px 0;
  padding: 0 16px;
}


// エディター設定

.page-style {
  
  &__block {
    margin: 0 0 60px;
  }

  .aligncenter {
    display: block;
    margin: 0 auto;
  }

  .alignright {
    display: block;
    margin-left: auto;
  }

  img {
    width: auto;
  }

  p {
    margin: 0 0 12px;

  }


  h1,h2 {
    font-size: 18px;
    margin: 24px 0 20px;
    color: #25237b;
    font-weight: bold;
  }

  h3 {
    font-size: 17px;
    margin: 24px 0 16px;

  }

  a {
    text-decoration: underline;
  }

  ol {
    margin: 0 0 12px 24px;
    line-height: 24px;


    li {
      list-style: decimal;
    }
  }

  ul {
    margin: 0 0 12px 24px;
    line-height: 24px;

    li {
      list-style: disc;
    }
  }
}