@charset "UTF-8";
input {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

* {
  word-break: break-word;
  box-sizing: border-box;
}

a {
  color: #000;
}

p {
  font-size: 15px;
  line-height: 24px;
}

a:hover {
  opacity: 0.5;
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
  font-size: 16px;
}

.pc-block {
  display: block;
}
@media (max-width: 780px) {
  .pc-block {
    display: none;
  }
}

.sp-block {
  display: none;
}
@media (max-width: 780px) {
  .sp-block {
    display: block;
  }
}

@media (max-width: 780px) {
  .main {
    margin: 58px 0 0;
  }
}

.pager-wrap {
  text-align: center;
  margin: 60px 0;
  padding: 0 16px;
}

.page-style__block {
  margin: 0 0 60px;
}
.page-style .aligncenter {
  display: block;
  margin: 0 auto;
}
.page-style .alignright {
  display: block;
  margin-left: auto;
}
.page-style img {
  width: auto;
}
.page-style p {
  margin: 0 0 12px;
}
.page-style h1, .page-style h2 {
  font-size: 18px;
  margin: 24px 0 20px;
  color: #25237b;
  font-weight: bold;
}
.page-style h3 {
  font-size: 17px;
  margin: 24px 0 16px;
}
.page-style a {
  text-decoration: underline;
}
.page-style ol {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ol li {
  list-style: decimal;
}
.page-style ul {
  margin: 0 0 12px 24px;
  line-height: 24px;
}
.page-style ul li {
  list-style: disc;
}

/* =================================
header
 ================================= */
.wrap-header {
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
}
@media (max-width: 780px) {
  .wrap-header {
    position: fixed;
  }
}

@media (max-width: 780px) {
  .header {
    background-color: #fff;
    border-bottom: 1px #8a8a8a solid;
  }
}
.header__inner {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 12px 8px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 780px) {
  .header__inner {
    padding: 4px;
  }
}
.header__ttl {
  max-width: 400px;
}
@media (max-width: 780px) {
  .header__ttl {
    max-width: 200px;
  }
}
.header__right {
  display: flex;
  gap: 24px;
}
.header__tel {
  font-size: 16px;
  font-weight: 500;
}
@media (max-width: 780px) {
  .header__tel {
    display: none;
  }
}
.header__time {
  text-align: center;
  display: block;
  font-size: 12px;
  margin: 0 0 4px;
}
@media (max-width: 780px) {
  .header__time {
    display: none;
  }
}
.header__open-btn {
  position: relative;
  z-index: 999;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: none;
  /*.active が付与された時の挙動*/
}
@media (max-width: 780px) {
  .header__open-btn {
    display: block;
  }
}
.header__open-btn span {
  display: inline-block;
  transition: all 0.4s;
  /*アニメーションの設定*/
  position: absolute;
  left: 11px;
  height: 2px;
  border-radius: 5px;
  background: #3e83c5;
  width: 65%;
}
.header__open-btn span:nth-of-type(1) {
  top: 13px;
}
.header__open-btn span:nth-of-type(2) {
  top: 23px;
}
.header__open-btn span:nth-of-type(3) {
  top: 33px;
}
.header__open-btn.active span:nth-of-type(1) {
  top: 14px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}
.header__open-btn.active.active span:nth-of-type(2) {
  opacity: 0;
}
.header__open-btn.active span:nth-of-type(3) {
  top: 26px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}
.header__open-btn.active span:nth-of-type(3)::after {
  display: none;
}

.header-sp {
  position: fixed;
  z-index: 99;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  /*ナビの高さ*/
  background-color: rgba(231, 230, 230, 0.9);
  /*動き*/
  transition: all 0.6s;
}
.header-sp.open-menu {
  right: 0;
}
.header-sp__inner {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-sp__tel {
  font-size: 22px;
  color: #25237b;
  margin: 0 28px 0 0;
}
@media (max-width: 600px) {
  .header-sp__tel {
    display: block;
  }
}
.header-sp__tel img {
  width: 22px;
  padding: 0 4px 0 0;
  vertical-align: middle;
}
.header-sp__tel--bottom {
  margin: 0;
  display: block;
}
.header-sp__bottom-tel-wrap {
  font-size: 15px;
  text-align: center;
  margin: 0 0 60px;
}
.header-sp__nav {
  margin: 0 0 60px 22px;
}
.header-sp__nav-item {
  margin: 0 0 8px;
}
.header-sp__download-link {
  background-color: #d10000;
  padding: 22px 0;
  color: #fff;
  padding: 12px 6px;
  border-radius: 6px;
}

/* =================================
検索
 ================================= */
.search-section {
  padding: 60px 16px;
}
@media (max-width: 600px) {
  .search-section {
    padding: 40px 16px;
  }
}
.search-section__cat-wrap {
  max-width: 1120px;
  margin: 0 auto 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}
.search-section__cat-item {
  background-color: #fff;
  color: #002e73;
  padding: 4px 12px;
  border-radius: 12px;
  border: #002e73 2px solid;
  font-size: 14px;
}
.search-section__cat-item.active {
  background-color: #002e73;
  color: #fff;
}
.search-section__search-wrap {
  max-width: 1120px;
  margin: 0 auto 24px;
  display: flex;
  gap: 8px;
}
.search-section__search-wrap input {
  border: #3e83c5 1px solid;
  width: 70%;
  padding: 4px;
}
.search-section__search-wrap button {
  border: #3e83c5 1px solid;
  border-radius: 6px;
  position: relative;
  width: 80px;
}
.search-section__search-wrap button:hover {
  opacity: 0.6;
}
.search-section__key-wrap {
  max-width: 1120px;
  margin: 0 auto;
}
.search-section__key-ttl {
  max-width: 300px;
}
.search-section__key-item-wrap {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.search-section__key-item {
  color: #b9b9b9;
  text-decoration: underline;
  font-size: 13px;
}
/* =================================
よくよまれている記事
 ================================= */
.most-article {
  padding: 80px 16px;
  background-color: #ecf6f6;
}
@media (max-width: 600px) {
  .most-article {
    padding: 40px 16px;
  }
}
.most-article__inner {
  max-width: 1120px;
  margin: 0 auto 24px;
}
.most-article__ttl {
  color: #002e73;
  text-align: center;
  font-size: 28px;
  margin: 0 0 60px;
  font-weight: 500;
}
@media (max-width: 600px) {
  .most-article__ttl {
    font-size: 20px;
    margin: 0 0 40px;
  }
}
/* =================================
記事
 ================================= */
.article-wrap {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media (max-width: 980px) {
  .article-wrap {
    gap: 16px;
  }
}
@media (max-width: 600px) {
  .article-wrap {
    justify-content: center;
    gap: 40px;
  }
}
.article-wrap__item {
  width: calc((100% - 80px) / 3);
  margin: 0 0 40px;
}
@media (max-width: 980px) {
  .article-wrap__item {
    width: calc((100% - 32px) / 3);
  }
}
@media (max-width: 600px) {
  .article-wrap__item {
    width: 100%;
    max-width: 400px;
  }
}
.article-wrap__item--most {
  margin: 0;
}
.article-wrap__item:hover .article-wrap__img img {
  transform: scale(1.1);
}
.article-wrap__img {
  margin: 0 0 12px;
  overflow: hidden;
}
.article-wrap__img img {
  aspect-ratio: 20/13;
  -o-object-fit: cover;
     object-fit: cover;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
.article-wrap__flex {
  display: flex;
  color: #8a8a8a;
  justify-content: space-between;
  padding: 0 4px;
  margin: 0 0 12px;
  font-size: 13px;
}
.article-wrap__ttl {
  padding: 0 4px;
  color: #002e73;
  line-height: 1.5;
}
/* =================================
TOPメイン
 ================================= */
.top-main {
  padding: 80px 16px;
}
@media (max-width: 600px) {
  .top-main {
    padding: 40px 16px;
  }
}
.top-main__inner {
  max-width: 1120px;
  margin: 0 auto 24px;
}
.top-main__text {
  color: #002e73;
  font-size: 18px;
  margin: 0 0 4px 12px;
}
/* =================================
記事
 ================================= */
.single-main {
  padding: 80px 16px;
}
@media (max-width: 600px) {
  .single-main {
    padding: 40px 16px;
  }
}
.single-main__inner {
  max-width: 880px;
  margin: 0 auto 24px;
}
.single-main__ttl {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
  color: #002e73;
  padding: 0 2px 2px;
  border-bottom: #c9e5ff 4px solid;
  margin: 0 0 18px;
}
@media (max-width: 600px) {
  .single-main__ttl {
    font-size: 20px;
  }
}
.single-main__flex {
  display: flex;
  padding: 0 4px;
  margin: 0 0 32px;
  font-size: 13px;
  gap: 40px;
}
.single-main__key {
  color: #3e83c5;
}
.single-main__youtube {
  max-width: 780px;
  margin: 40px auto;
}
.single-main__youtube-item {
  width: 100%;
  height: 0;
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}
.single-main__youtube-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================

 ================================= */
/* =================================
footer
 ================================= */
.footer-top {
  border-top: #e9e9e9 1px solid;
  padding: 24px 8px;
}
.footer-top__inner {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 780px) {
  .footer-top__inner {
    flex-direction: column;
  }
}
.footer-top__nav {
  display: flex;
}
@media (max-width: 980px) {
  .footer-top__nav {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.footer-top__nav-item {
  margin: 0 12px 0 0;
  font-size: 14px;
}
@media (max-width: 980px) {
  .footer-top__nav-item {
    font-size: 12px;
    margin: 0 8px 0 0;
  }
}
@media (max-width: 780px) {
  .footer-top__nav-item {
    width: 33%;
    font-size: 14px;
    margin: 0 0 4px;
    text-align: center;
  }
}
.footer-top__logo {
  max-width: 420px;
}
@media (max-width: 980px) {
  .footer-top__logo {
    margin: 0 0 16px 0;
  }
}

.footer-bottom {
  margin: 0 0 40px;
}
.footer-bottom__inner {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 8px;
  align-items: flex-end;
}
@media (max-width: 980px) {
  .footer-bottom__inner {
    gap: 16px;
  }
}
@media (max-width: 780px) {
  .footer-bottom__inner {
    position: relative;
  }
}
@media (max-width: 600px) {
  .footer-bottom__inner {
    flex-direction: column;
    align-items: center;
  }
}
.footer-bottom__item {
  line-height: 22px;
  width: 30%;
  font-size: 14px;
}
@media (max-width: 600px) {
  .footer-bottom__item {
    width: 100%;
    max-width: 280px;
    margin: 0 0 20px;
  }
}
.footer-bottom__item-ttl {
  display: block;
}
.footer-bottom__item-sns {
  text-align: right;
  margin: 0 30px 0 0;
}
.footer-bottom__item-sns i {
  transform: scale(1.8);
  margin: 0 18px 0 0px;
}
@media (max-width: 600px) {
  .footer-bottom__item-sns {
    text-align: left;
    margin: 0;
  }
}
.footer-bottom__go-top {
  width: 60px;
  margin-bottom: -20px;
}
@media (max-width: 780px) {
  .footer-bottom__go-top {
    width: 40px;
    position: absolute;
    bottom: 64px;
    right: 44px;
  }
}
@media (max-width: 600px) {
  .footer-bottom__go-top {
    bottom: 14px;
    right: 22px;
  }
}

.footer-copy {
  text-align: center;
  color: #fff;
  background-color: #3e83c5;
  padding: 12px 8px;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */